# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore output and logs
output_data/
artifacts/
*.log

# Ignore temporary files
*.tar.gz
*.zip

# VS Code settings (optional)
.vscode/
