# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Spark & Hadoop logs
*.log
*.out

# Environment files
.env
.venv/
env/
venv/

# System files
.DS_Store
Thumbs.db

# Large raw datasets (already removed)
gncnd_*
*.tar.gz
*.zip
*.gz

